# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env
*.env
myenv/

# IDE config
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Streamlit
.streamlit/


# Books klasörünü çıkar
books/**

# Miscellaneous
*.bak
*.tmp
*.swp
